<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/public/css/tailwind.css" />
    <script src="/public/js/showNotification.js"></script>
    <style>
      .spin-loader {
        animation: rotation 2.25s linear infinite;
      }

      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>
  <body
    class="min-h-screen bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100 flex flex-col"
  >
    <%- include('../partials/navbar') %>

    <div class="container mx-auto px-4 py-16 flex justify-center">
      <div
        class="w-full max-w-md bg-white dark:bg-gray-800 shadow-md rounded-lg p-6"
      >
        <h2 class="text-2xl font-bold mb-6 text-gray-800 dark:text-gray-100">
          Forgot Password
        </h2>
        <form id="forgotPasswordForm" class="space-y-4">
          <!-- Email Input -->
          <div>
            <label
              for="useremail"
              class="block text-gray-700 dark:text-gray-300"
              >Email Address</label
            >
            <div class="flex gap-1">
              <input
                type="email"
                name="useremail"
                id="useremail"
                placeholder="johndoe@gmail.com"
                autocomplete="email"
                required
                class="w-4/5 mt-1 p-2 border border-gray-300 dark:border-gray-700 rounded-md bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-100 focus:border-blue-500 dark:focus:border-blue-500"
              />
              <button
                id="send-otp-btn"
                class="w-1/5 mt-1 p-1 text-sm bg-blue-500 text-white rounded-md hover:bg-blue-600 transition"
              >
                Get OTP
              </button>
            </div>
          </div>

          <!-- OTP Input -->
          <div id="otp-container" class="hidden">
            <label for="otp" class="block text-gray-700 dark:text-gray-300"
              >Enter OTP</label
            >
            <input
              type="text"
              name="otp"
              id="otp"
              placeholder="123456"
              class="w-full mt-1 p-2 border border-gray-300 dark:border-gray-700 rounded-md bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-100 focus:border-blue-500 dark:focus:border-blue-500"
              required
            />
          </div>

          <!-- New Password Input -->
          <div id="password-container" class="hidden">
            <label
              for="newPassword"
              class="block text-gray-700 dark:text-gray-300"
              >New Password</label
            >
            <input
              type="password"
              name="newPassword"
              id="newPassword"
              placeholder="••••••••••"
              autocomplete="new-password"
              required
              class="w-full mt-1 p-2 border border-gray-300 dark:border-gray-700 rounded-md bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-100 focus:border-blue-500 dark:focus:border-blue-500"
            />
          </div>

          <!-- Confirm New Password -->
          <div id="confirm-password-container" class="hidden">
            <label
              for="confirmNewPassword"
              class="block text-gray-700 dark:text-gray-300"
              >Confirm New Password</label
            >
            <input
              type="password"
              name="confirmNewPassword"
              id="confirmNewPassword"
              placeholder="••••••••••"
              required
              class="w-full mt-1 p-2 border border-gray-300 dark:border-gray-700 rounded-md bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-100 focus:border-blue-500 dark:focus:border-blue-500"
            />
          </div>

          <!-- Submit Button -->
          <button
            type="submit"
            id="reset-btn"
            class="w-full py-2 flex justify-center items-center gap-4 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition"
          >
            <span id="buttonText">Reset Password</span>
            <span
              id="spin-loader"
              class="spin-loader w-6 h-6 border-4 border-dotted dark:border-white rounded-full hidden"
            ></span>
          </button>
        </form>

        <p class="text-center my-4 text-gray-600 dark:text-gray-400">OR</p>

        <a
          href="/auth/google"
          class="w-full flex items-center justify-center gap-2 py-2 text-center border border-gray-500 dark:text-white rounded-md hover:border-blue-500 focus:ring-2 focus:ring-blue-500 transition-all"
          ><img
            src="public\images\google-icon.webp"
            alt="google-logo"
            class="w-8 rounded-full"
          /><strong class="text-md">Sign in with Google</strong></a
        >
      </div>
    </div>

    <%- include('../partials/footer') %>

    <script>
      const form = document.getElementById('forgotPasswordForm');
      const sendOtpBtn = document.getElementById('send-otp-btn');
      const resetBtn = document.getElementById('reset-btn');
      const otpContainer = document.getElementById('otp-container');
      const passwordContainer = document.getElementById('password-container');
      const confirmPasswordContainer = document.getElementById(
        'confirm-password-container'
      );
      const loader = document.getElementById('spin-loader');

      // Send OTP Handler
      sendOtpBtn.addEventListener('click', async (e) => {
        e.preventDefault();
        const useremail = document.getElementById('useremail').value;

        if (!useremail) return showNotification('Please enter an email', 4000);

        const response = await fetch('/forgot-password', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ useremail }),
        });

        const result = await response.json();
        showNotification(result.message, 4000);

        if (response.ok) {
          otpContainer.classList.remove('hidden');
          sendOtpBtn.disabled = true;
          sendOtpBtn.innerText = 'OTP Sent';

          setTimeout(() => {
            sendOtpBtn.disabled = false;
            sendOtpBtn.innerText = 'Get OTP';
          }, 300000); // Re-enable after 5 minutes
        }
      });

      // Form Submit Handler (Reset Password)
      form.addEventListener('submit', async (event) => {
        event.preventDefault();

        const useremail = document.getElementById('useremail').value;
        const otp = document.getElementById('otp').value;
        const newPassword = document.getElementById('newPassword').value;
        const confirmNewPassword =
          document.getElementById('confirmNewPassword').value;

        if (!otp || !newPassword || !confirmNewPassword) {
          return showNotification('All fields are required', 4000);
        }

        if (newPassword !== confirmNewPassword) {
          return showNotification('Passwords do not match', 4000);
        }

        loader.classList.remove('hidden');
        resetBtn.disabled = true;

        const response = await fetch('/reset-password', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({
            useremail,
            otp,
            newPassword,
            confirmNewPassword,
          }),
        });

        const result = await response.json();
        loader.classList.add('hidden');
        resetBtn.disabled = false;

        if (response.ok) {
          showNotification(result.message, 4000);
          setTimeout(() => {
            window.location.href = '/login';
          }, 3000);
        } else {
          showNotification(result.message, 4000);
        }
      });

      // OTP Input Change Event - Show Password Fields
      document.getElementById('otp').addEventListener('input', function () {
        if (this.value.length === 6) {
          passwordContainer.classList.remove('hidden');
          confirmPasswordContainer.classList.remove('hidden');
          resetBtn.classList.remove('hidden');
        }
      });
    </script>
  </body>
</html>
