<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/public/css/tailwind.css" />

    <script
      src="https://kit.fontawesome.com/9ca9aa7819.js"
      crossorigin="anonymous"
    ></script>

    <style>
      @layer utilities {
        .dark input:-webkit-autofill {
          color: #ffffff !important;
          -webkit-text-fill-color: #ffffff !important;
          caret-color: #ffffff !important;
          background-color: transparent !important;
          transition: background-color 5000s ease-in-out 0s;
        }
      }

      .spin-loader {
        animation: rotation 2.25s linear infinite;
      }

      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>
  <body
    class="min-h-screen relative bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100"
  >
    <%- include('../partials/navbar') %>

    <div class="container mx-auto px-4 py-16 flex justify-center">
      <div
        class="w-full max-w-md bg-white dark:bg-gray-800 shadow-md rounded-lg p-6"
      >
        <h2 class="text-2xl font-bold mb-6 text-gray-800 dark:text-gray-100">
          Login
        </h2>
        <form id="loginForm" action="/login" method="POST" class="space-y-4">
          <div>
            <label
              for="useremail"
              class="block text-gray-700 dark:text-gray-300"
              >User Email</label
            >
            <input
              type="email"
              name="useremail"
              id="useremail"
              required
              class="w-full mt-1 p-2 focus:outline-none border border-gray-300 dark:border-gray-700 rounded-md bg-gray-50 focus:bg-gray-50 dark:bg-gray-700 dark:focus:bg-gray-700 text-gray-900 dark:text-gray-100"
            />
          </div>
          <div>
            <label for="password" class="block text-gray-700 dark:text-gray-300"
              >Password</label
            >
            <input
              type="password"
              name="password"
              id="password"
              required
              class="w-full mt-1 p-2 focus:outline-none border border-gray-300 dark:border-gray-700 rounded-md bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-gray-100"
            />
          </div>
          <button
            type="submit"
            id="submitButton"
            class="w-full py-2 flex justify-center items-center gap-4 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 transition-all"
          >
            <span id="buttonText">Login</span>
            <span
              id="spin-loader"
              class="spin-loader w-6 h-6 border-4 border-dotted dark:border-white rounded-full hidden"
            ></span>
          </button>
        </form>

        <p class="text-center my-4 text-gray-600 dark:text-gray-400">OR</p>

        <a
          href="/auth/google"
          class="w-full flex items-center justify-center gap-2 py-2 text-center border border-gray-500 dark:text-white rounded-md hover:border-blue-500 focus:ring-2 focus:ring-blue-500 transition-all"
          ><img
            src="public\images\google-icon.webp"
            alt="google-logo"
            class="w-8 rounded-full"
          /><strong class="text-md">Sign in with Google</strong></a
        >
      </div>
    </div>
    <%- include('../partials/footer') %>
    <div
      id="scroll-to-top"
      class="hidden px-2 py-2 fixed bottom-4 right-4 bg-blue-500 hover:bg-blue-600 text-white rounded-full cursor-pointer"
    >
      <i class="fa-solid fa-chevron-up text-center text-xl"></i>
    </div>
    <script>
      const form = document.getElementById('loginForm');
      const button = document.getElementById('submitButton');
      const loader = document.getElementById('spin-loader');
      const buttonText = document.getElementById('buttonText');

      form.addEventListener('submit', async (event) => {
        event.preventDefault();

        loader.classList.remove('hidden');
        const elements = form.querySelectorAll('input, button');
        elements.forEach((element) => {
          element.disabled = true;
        });

        const formData = new URLSearchParams(new FormData(form));

        try {
          const response = await fetch('/login', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: formData.toString(),
          });

          const result = await response.json();

          if (response.ok) {
            window.location.href = '/user/profile';
          } else {
            throw new Error(result.message || 'Login failed');
          }
        } catch (error) {
          alert(error.message);
        } finally {
          loader.classList.add('hidden');
          button.disabled = false;
        }
      });
    </script>
    <script>
      // Scroll to Top Icon
      const scrollToTopButton = document.getElementById('scroll-to-top');

      // Show the button when the user scrolls to the bottom
      window.addEventListener('scroll', () => {
        if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
          scrollToTopButton.classList.remove('hidden');
        } else {
          scrollToTopButton.classList.add('hidden');
        }
      });
      scrollToTopButton.addEventListener('click', () => {
        window.scrollTo({ top: 0, behavior: 'smooth' });
      });
    </script>
  </body>
</html>
