<button
  id="scroll-to-top"
  class="hidden bg-blue-500 fixed bottom-10 right-10 cursor-pointer z-100 rounded-full translate-x-1/2 w-8 h-8"
>
  <i class="fa-solid text-white fa-arrow-up text-center text-xl"></i>
</button>
<!-- Footer -->
<footer class="w-full bg-gray-200 dark:bg-gray-800 py-6 mt-4">
  <div class="text-center mx-auto text-gray-600 dark:text-gray-300">
    <!-- Dark Mode Toggle -->
    <button
      onclick="toggleDarkMode()"
      class="mt-4 mb-4 px-2 py-1 bg-gray-800 dark:bg-gray-200 text-white dark:text-black rounded-sm"
    >
      <i class="fa-regular fa-sun"></i>
    </button>

    <p>
      &copy; 2024 Let's Blog. All rights reserved.
      <a
        class="hover:text-blue-500 transition-colors"
        href="mailto:aniketthapa.dev@gmail.com"
        >Contact Us</a
      >
    </p>
  </div>
</footer>
