<!-- Footer -->
<footer
  class="absolute w-full bottom-0 bg-gray-200 dark:bg-gray-800 py-6 mt-16"
>
  <div class="text-center mx-auto text-gray-600 dark:text-gray-300">
    <p>
      &copy; 2024 Let's Blog. All rights reserved.
      <a
        class="hover:text-blue-500 transition-colors"
        href="mailto://aniketthapa.dev@gmail.com"
        >Contact Us</a
      >
    </p>
  </div>
</footer>
