<!-- Footer -->
<footer
  class="w-full my-4 mt-auto bg-gray-100 dark:bg-gray-900 py-6 border-t border-gray-300 dark:border-gray-700"
>
  <div
    class="container mx-auto px-6 flex flex-col md:flex-row items-center justify-between text-gray-700 dark:text-gray-300"
  >
    <!-- Branding -->
    <p class="text-sm">
      &copy; 2024 <span class="font-semibold">Let's Blog</span>. All rights
      reserved.
    </p>

    <!-- Navigation Links -->
    <div class="flex space-x-4 mt-3 md:mt-0">
      <a href="#" class="text-sm hover:text-blue-500 transition-colors"
        >Privacy Policy</a
      >
      <a href="#" class="text-sm hover:text-blue-500 transition-colors"
        >Terms of Service</a
      >
      <a
        href="mailto:aniketthapa.dev@gmail.com"
        class="text-sm hover:text-blue-500 transition-colors"
        >Contact Us</a
      >
    </div>
  </div>
  <!-- Scroll To Top -->
  <button
    id="scroll-to-top"
    class="hidden bg-blue-500 hover:bg-blue-600 fixed bottom-20 right-10 cursor-pointer z-100 rounded-full translate-x-1/2 w-8 h-8 transition"
  >
    <i class="fa-solid text-white fa-arrow-up text-center text-xl"></i>
  </button>
</footer>
