<!-- Footer -->
<footer
  class="absolute w-full bottom-0 bg-gray-200 dark:bg-gray-800 py-6 mt-16"
>
  <div class="container mx-auto text-center text-gray-600 dark:text-gray-300">
    <p>&copy; 2024 MyBlog | Aniket Thapa. All rights reserved.</p>
  </div>
</footer>
