<!-- Footer -->
<footer
  class="w-full absolute bottom-0 my-4 px-10 py-6 bg-gray-100 dark:bg-gray-900 border-t border-gray-300 dark:border-gray-700"
>
  <div
    class="container mx-auto px-6 flex flex-col md:flex-row items-center justify-between text-gray-700 dark:text-gray-300"
  >
    <!-- Branding -->
    <p class="text-sm">
      &copy; 2024
      <span class="font-semibold hover:text-blue-500 transition-colors"
        ><a href="/">Let's Blog</a></span
      >. All rights reserved.
    </p>

    <p class="text-sm mt-3 md:mt-0">
      Made with
      <span class="text-red-500">
        <i class="fa-solid fa-heart"></i>
      </span>
      by
      <span class="font-semibold hover:text-blue-500 transition-colors"
        ><a href="https://github.com/aniket-thapa" target="_blank"
          >Aniket Thapa</a
        ></span
      >
    </p>

    <!-- Navigation Links -->
    <div class="flex space-x-4 mt-3 md:mt-0">
      <a href="#" class="text-sm hover:text-blue-500 transition-colors"
        >Privacy Policy</a
      >
      <a href="#" class="text-sm hover:text-blue-500 transition-colors"
        >Terms of Service</a
      >
      <a
        href="mailto:aniketthapa.dev@gmail.com"
        class="text-sm hover:text-blue-500 transition-colors"
        >Contact Us</a
      >
    </div>
  </div>
  <!-- Scroll To Top -->
  <button
    id="scroll-to-top"
    class="hidden bg-blue-500 hover:bg-blue-600 fixed bottom-8 right-8 cursor-pointer z-100 rounded-full translate-x-1/2 w-8 h-8 transition"
  >
    <i class="fa-solid text-white fa-arrow-up text-center text-xl"></i>
  </button>
</footer>
