<script
  src="https://kit.fontawesome.com/9ca9aa7819.js"
  crossorigin="anonymous"
></script>

<nav class="bg-white dark:bg-gray-800 shadow-md py-4 relative">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <!-- Logo -->
    <a
      href="/"
      class="text-2xl font-bold text-gray-800 dark:text-gray-100 hover:text-blue-500"
    >
      Let's <span class="text-blue-500">Blog</span>
    </a>

    <!-- Hamburger Menu (Hidden by Default) -->
    <button
      id="menu-toggle"
      class="text-gray-800 dark:text-gray-100 block sm:hidden focus:outline-none self-end"
    >
      <i class="fas fa-bars text-2xl"></i>
    </button>

    <!-- Nav Links -->
    <ul
      id="nav-links"
      class="hidden font-semibold text-base absolute sm:relative top-full left-0 w-full sm:w-auto bg-white dark:bg-gray-800 sm:bg-transparent shadow-md sm:shadow-none z-50 sm:flex space-y-4 sm:space-y-0 sm:space-x-6 flex-col sm:flex-row"
    >
      <li>
        <a
          href="/"
          class="block text-gray-700 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-300 hover:bg-opacity-50 hover:bg-blue-100 dark:hover:bg-sky-500 dark:hover:bg-opacity-10 rounded-lg transition py-2 px-4"
        >
          Home
        </a>
      </li>
      <li>
        <a
          href="/blogs"
          class="block text-gray-700 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-300 hover:bg-opacity-50 hover:bg-blue-100 dark:hover:bg-sky-500 dark:hover:bg-opacity-10 rounded-lg transition py-2 px-4"
        >
          Blogs
        </a>
      </li>
      <% if(user!== null){ %>
      <li>
        <a
          href="/blogs/new"
          class="block text-gray-700 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-300 hover:bg-opacity-50 hover:bg-blue-100 dark:hover:bg-sky-500 dark:hover:bg-opacity-10 rounded-lg transition py-2 px-4"
        >
          New Blog
        </a>
      </li>
      <li>
        <a
          href="/user/profile"
          class="block text-gray-700 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-300 hover:bg-opacity-50 hover:bg-blue-100 dark:hover:bg-sky-500 dark:hover:bg-opacity-10 rounded-lg transition py-2 px-4"
        >
          Profile
        </a>
      </li>
      <li>
        <a
          href="/logout"
          class="block text-gray-700 dark:text-gray-300 hover:text-red-600 dark:hover:text-red-400 hover:bg-opacity-50 hover:bg-red-100 dark:hover:bg-red-800 dark:hover:bg-opacity-20 rounded-lg transition py-2 px-4"
        >
          Logout
        </a>
      </li>
      <% } else {%>
      <li>
        <a
          href="/login"
          class="block text-gray-700 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-300 hover:bg-opacity-50 hover:bg-blue-100 dark:hover:bg-sky-500 dark:hover:bg-opacity-10 rounded-lg transition py-2 px-4"
        >
          Login
        </a>
      </li>
      <li>
        <a
          href="/register"
          class="block text-gray-700 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-300 hover:bg-opacity-50 hover:bg-blue-100 dark:hover:bg-sky-500 dark:hover:bg-opacity-10 rounded-lg transition py-2 px-4"
        >
          Register
        </a>
      </li>
      <% } %>
    </ul>

    <!-- Dark Mode Toggle Switch -->
    <button
      onclick="toggleTheme()"
      class="p-2 rounded-full text-gray-600 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
    >
      <svg
        id="theme-icon-light"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
        />
      </svg>
      <svg
        id="theme-icon-dark"
        class="h-6 w-6 hidden"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
        />
      </svg>
    </button>
  </div>
</nav>

<script>
  // Toggle the Menu-bar for small screens
  document.addEventListener('DOMContentLoaded', () => {
    const menuToggle = document.getElementById('menu-toggle');
    const navLinks = document.getElementById('nav-links');

    menuToggle.addEventListener('click', () => {
      navLinks.classList.toggle('hidden');
    });
    document.addEventListener('click', function (event) {
      if (!navLinks.parentElement.contains(event.target)) {
        navLinks.classList.add('hidden');
      }
    });
  });

  // Dark / Light Mode Toggle Theme Script

  // Set the theme on initial load
  if (
    localStorage.theme === 'dark' ||
    (!('theme' in localStorage) &&
      window.matchMedia('(prefers-color-scheme: dark)').matches)
  ) {
    document.documentElement.classList.add('dark');
    document.getElementById('theme-icon-dark').classList.remove('hidden');
    document.getElementById('theme-icon-light').classList.add('hidden');
  } else {
    document.documentElement.classList.remove('dark');
    document.getElementById('theme-icon-light').classList.remove('hidden');
    document.getElementById('theme-icon-dark').classList.add('hidden');
  }

  function toggleTheme() {
    const html = document.documentElement;
    if (html.classList.contains('dark')) {
      html.classList.remove('dark');
      document.getElementById('theme-icon-light').classList.remove('hidden');
      document.getElementById('theme-icon-dark').classList.add('hidden');

      localStorage.theme = 'light';
    } else {
      html.classList.add('dark');
      document.getElementById('theme-icon-dark').classList.remove('hidden');
      document.getElementById('theme-icon-light').classList.add('hidden');

      localStorage.theme = 'dark';
    }
  }
</script>
